{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 main">
                <a href="/" class="btn btn-primary btn-sm"> <--BACK</a><br><br>
                {% for pic in pics %}
                    <div class="pic-container">
                        <span class="helper"></span><a href={{pic.3}} title="{{pic.1}}"> <img src={{pic.0}} ></a>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock %}